@font-face {
    font-family: 'SourceSans';
    src: url('../../assets/fonts/SourceSansPro-Regular.ttf');
    font-weight: 400;
};

@font-face {
    font-family: 'SourceSansBold';
    src: url('../../assets/fonts/SourceSansPro-SemiBold.ttf');
    font-weight: 600;
};