@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;

body {
    font-family: SourceSans;
}

.button {
    border-radius: 30px;
    border: none;
    font-family: SourceSans;
    font-size: 1rem;
    background: #95e1f8;
    color: #323232;
    cursor: pointer;
    &:hover {
        background: #bef0ff;
    }
    &:active {
        background: #60c1df;
    }
    &--hidden {
        display: none;
    }
}

.input {
    border: 1px solid #575757;
    border-radius: 30px;
    &:hover {
        background: rgb(240, 240, 240);
        border: 2px solid rgb(100, 100, 100);
    }
    &::placeholder {
        font-family: SourceSans;
        font-size: 1rem;
    }
}


