@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;

body {
    font-family: SourceSans;
}

.button {
    border-radius: 30px;
    border: none;
    font-family: SourceSans;
    font-size: 1rem;
    background: #AEECFF;
    color: #323232;
    cursor: pointer;

    &--hidden {
        display: none;
    }
}

.input {
    border: 1px solid #575757;
    border-radius: 30px;
    
    &::placeholder {
        font-family: SourceSans;
        font-size: 1rem;
    }
}


