@use '../../styles/partials/breakpoints' as *;

.button {
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;

    &--hidden {
        display: none;
    }
}

.input {
    border-radius: 5px;
    border: 1px solid black;
}


