@use '../../styles/partials/breakpoints' as *;

.signup {
    margin: 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__form {
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    &__button {
        margin: 1.5rem auto 0;
        width: 50%;
        padding: .5rem 1rem;
    }
    &__input {
        margin: .75rem 0 0rem;
        padding: .5rem .75rem .5rem;
    }
    &__link {
        text-decoration: none;
        margin: 2rem auto;
    }
    &__missing {
        margin-top: .25rem;
        font-weight: 600;
        color:rgb(228, 33, 33);
        &--hidden {
            display: none;
        }
    }
    &__success {
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
    }
    &__label {
        margin-top: 1rem;
    }
    &__heading {
        margin: 1.5rem 0 .5rem;
    }
    @include tablet {
        &__form {
            width: 50%;
        }
    }
    @include desktop {
        &__form {
            width: 25%;
        }
    }
}