@use '../../styles/partials/breakpoints' as *;

.aboutpage {
    margin: 5rem 1.5rem;
    display: flex;
    flex-direction: column;

    &__text {
        margin: 0;
        padding-bottom: 1rem;
    }
    &__link {
        text-decoration: none;
        color: #2083d4;
    }
    @include tablet {
        margin: 5rem 5rem;
    }
    @include desktop {
        margin: 5rem 7rem;
    }
}