@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/globals' as *;
@use '../../styles/partials/fonts' as *;

.search {
    &__container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    &__form {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    &__button {
        border-radius: 30px;
        padding: .5rem 1.5rem;

        &-save {
            width: 50%;
            max-width: 200px;
            margin: 1rem auto 2rem;
            padding: .5rem 1rem;
        }
    }
    &__input {
        border-radius: 30px;
        padding: .5rem .75rem .5rem .75rem;
        margin-right: 1rem;
        width: 80%;
    }
    &__weather {
        text-align: center;
        font-size: 1.1rem;
        color: rgb(48, 48, 48);
        margin-bottom: 0;
    }
    @include tablet {
        &__form {
            width: 100%;
        }
        &__input {
            width: 50%;
        }
    }
    @include desktop {
        &__form {
            width: 100%;
        }
        &__input {
            width: 40%;
        }
    }
}