@use '../../styles/partials/breakpoints' as *;

.listpage {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;

    &__items, &__items--strike {
        margin-top: 1rem;
        padding: .5rem 0 .5rem .5rem;
        display: flex;
        justify-content: space-between;
        border: 1px solid lightblue;
        border-radius: 5px;
        align-items: center;
        
        &-button {
            border: none;

            &-container {
                display: flex;
                padding-right: .5rem;
            }
            &--red, &--green {
                border-radius: 0px;
                border: none;
                padding: 1rem;
                border-radius: 3px;
                cursor: pointer;

            }
            &--green {
                background: url('../../assets/icons/check.svg') no-repeat;
                margin-right: .5rem;
                &:hover {
                    background: url('../../assets/icons/check-light.svg') no-repeat;
                }
                &:active {
                    background: url('../../assets/icons/check-dark.svg') no-repeat;
                }
            }
            &--red {
                background: url('../../assets/icons/cross.svg') no-repeat;
                &:hover {
                    background: url('../../assets/icons/cross-light.svg') no-repeat;
                }
                &:active {
                    background: url('../../assets/icons/cross-dark.svg') no-repeat;
                }
            }
        }
        &:hover {
            background: rgb(230, 230, 230);
            border: 1px solid rgb(92, 168, 194);
        }
        &--strike {
            text-decoration: line-through;
            color: #B92626;
        }
    }
    &__heading {
        margin: 1.25rem auto;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin-top: 0;
        width: 75%;
        max-width: 350px;
        margin: 0 auto;
    }
    &__failed-message {
        margin-top: 5rem;
        text-align: center;
    }
    &__failed-link {
        text-decoration: none;
        color: #2083d4;
    }
    &__destination {
        display: flex;
        justify-content: center;
        font-weight: 600;
    }
    &__text {
        text-align: center;
    }
    &__buttons {
        margin-top: 1rem;
        padding: .75rem .5rem;
        width: 48%;
        &-container {
            display: flex;
            justify-content: space-between;
        }
    }
    &__success {
        text-align: center;
        font-weight: 600;
        color: rgb(230, 20, 20);
        margin-top: 1rem;
    }
    &__form {
        &-container {
            display: flex;
            justify-content: center;
        }
        &-input {
            margin-right: 1rem;
            padding: .5rem 0 .5rem .75rem;
            width: 50%;
        }
        &-button {
            padding: .5rem 1.5rem;
        }
    }
    @include tablet {
        margin-top: 5rem;

        &__form {
            &-container {
                width: 100%;
            }
            &-input {
                width: 25%;
            }
        }
    }
    @include desktop {
        margin-top: 5rem;
    }
}

#delete-button {
    background: #ff4848;
    color: white;
}