@use '../../styles/partials/breakpoints' as *;

.contactpage {
    margin: 5rem 1.5rem;
    display: flex;
    flex-direction: column;

    &__card {
        &-container {
            display: flex;
            justify-content: space-between;
            max-width: 500px;
        }
        &-mail, &-linkedin, &-github {
            background-color: green;
            width: 20vw;
            height: 23vh;
            max-width: 100px;
        }
        &-mail {
            background: url('../../assets/icons/mail.png') no-repeat 50% 50%;
            background-size: 100%;
        }
        &-linkedin {
            background: url('../../assets/icons/linkedin.png') no-repeat 50% 50%;
            background-size: 100%;
        }
        &-github {
            background: url('../../assets/icons/github.png') no-repeat 50% 50%;
            background-size: 100%;
        }
    }
    @include tablet {
        margin: 5rem 5rem;
    }
    @include desktop {
        margin: 5rem 7rem;
    }
}